.overlay{
    background: rgba(204, 204, 204, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1100;
}

.spinner{
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}